@import "npm:bootstrap/dist/css/bootstrap.min.css";
@import "npm:bootstrap-icons/font/bootstrap-icons.css";

:root {
  --header-height: 56px;
}
#navbar {
  height: var(--header-height);
}
#content {
  height: calc(100vh - var(--header-height));
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
